.home-title-box {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	margin: 0;
	padding: 0;
}

.home-title {
	padding: 0;
	margin: 0;
	font-size: 5em;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
}

.home-tile-fog {
	top: 0; 
	position: absolute; 
	height: 100%; 
	width: 100%; 
	background-color: rgba(0, 0, 0, 0.5);
}

.home-tile-fog:hover {
	background-color: rgba(0, 0, 0, 0.0);
}

.title-button {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 5px 10px;
	margin: 10px 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	border-radius: 5px;
	color: rgba(255, 255, 255, 0.8);
	border: rgba(255, 255, 255, 0.8) 2px solid;
	background-color: rgba(255, 255, 255, 0.2);
  }

.title-button:hover {
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
  }

.self-portrait {
	padding: 20px 0;
	width: 100%;
	object-fit: cover;
}

.home-photo {
	width: 100%;
	object-fit: cover;
	max-height: 500px;
}

.home-photo-col {
	padding: 0;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.photo-foreground {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	color: rgba(255, 255, 255, 0.25);
}

.transparent-photo-title {
	font-size: 2em;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
	padding: 10px 20px;
}

.photo-foreground:hover {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.0);
	color: rgba(255, 255, 255, 1.0);
	text-decoration: none;
}