
#project-tiles {
  margin: 10px;
}

#project-tiles .col-md-4 {
  padding: 20px;
  /* just for debugging */
}

#project-tiles .col-md-4:hover {
  /* just for debugging */
  border-style: solid;
  border-width: 1px;
}

a:hover {
  text-decoration: none;
}

.project-thumbnail {
  width: 100%;
  height: auto;
  padding: 20px;
}

.project-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3em;
  font-weight: bold;
}

.project-tile-title {
  margin-top: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.project-description {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  color: #777;
}

h1 {
  margin-top: 2em;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

pre {
  color: #e83e8c;
}

