
#project-tiles .col-md-3:hover {
  /* just for debugging */
  /* border-style: solid; */
  /* border-width: 1px; */
  background-color: rgb(230, 230, 230);
}

.project-banner {
  padding: 40px 20px;
  /* background-color: black; */
  color: black;
  border-bottom: 3px solid yellow;
}

a:hover {
  text-decoration: none;
}

.project-thumbnail {
  width: 100%;
  height: auto;
}

.project-title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3em;
  font-weight: bold;
}

.project-tile-title {
  margin: 10px 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.project-description {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  color: #777;
  text-align: justify;
}

.project-tile-description {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.75em;
  color: #777;
}

h1 {
  margin-top: 2em;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

pre {
  color: #e83e8c;
}

